@charset "utf-8";
*{
 margin:0;
 padding:0;
}
body{
    color: #000000;
    font-family: Helvetica,Arial,sans-serif !important;
    font-size: 0.8em !important;
    line-height: 1.5;
}
#header {
	background: url(../images/bg-header.png) repeat-x right top;
	height:134px;
	border-top:#333 1px solid;	
	}
	
#logo{
	background:url(../images/logo.png) no-repeat;
	float:left;
	height:100px;
	width:463px;
	}
#bg_variation{
	background:url(../images/bg_variation.png) no-repeat;
	float:left;
	height:100px;
	width:100%;
	}
#container_master_bg{
    background: url(../images/bg_container_master.png) repeat-x scroll 0 0 transparent;
    height: 100%;
    margin-top: -34px;
    min-height: 400px;
	float:both;
	}
	
#container{
	z-index:1;
	border-top:#333 1px solid;
	background:url(../images/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;
	}
	
h3{
	margin:0px;		
	color:#FFF;
	font-size:14px;
}
#frame-title{
   background:url(../images/frame_title.png) repeat-x;
   padding: 5px;
   margin-bottom:10px
}
	
.text{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	padding:3px;
	border:1px solid #999;
}

#menuContainer{
	z-index:1;
	background:url(../images/headbody.png) repeat-x;
	width:100%;
	height:40px;
}

#container{
	z-index:1;
	border-top:#333 1px solid;
	background:url(../images/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;	
	}
	
.input_tahun{	
    margin: 13px auto -5px auto;
    width: 90%;	
}

	#container{
	z-index:1;
	border-top:#333 1px solid;
	background:url(../images/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;
	}#container{
	z-index:1;
	border-top:#333 1px solid;
	background:url(../images/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;
	}#container{
	z-index:1;
	border-top:#333 1px solid;
	background:url(../images/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;
	}#container{
	z-index:1;
	border-top:#333 1px solid;
	background:url(../images/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;
	}