
/* 
	LEVEL ONE
*/
ul.dropdown {
	z-index:1;
	text-align:left;
	position: relative;
	list-style:none;
}
ul.dropdown li {
	font-weight: bold;
	float: left;
	zoom: 1;
	padding:5px 10px;
	background:url(../images/headbody.png) repeat-x;
	border-right: 1px solid #333;
	list-style:none;
}
ul.dropdown a:hover {
	color: #333;
}
ul.dropdown a:active {
	color: #ffa500;
}

ul.dropdown li a {
	text-decoration:none;
	display: block;
	padding: 5px 8px;
	color: #FFF;
	text-shadow:0 1px 1px #999;
}
ul.dropdown li a:hover {
	color:#333;
	text-shadow:0 1px 1px #CCC;
}
ul.dropdown li:last-child a {
	border-right: none;
} /* Doesn't work in IE */

ul.dropdown li.hover, ul.dropdown li:hover {
	background: #FFF;
	color: #333;
	position: relative;
}
ul.dropdown li.hover a {
	color: #333;
}
/* 
	LEVEL TWO
*/
ul.dropdown ul {
	width: 220px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
}
ul.dropdown ul li {
	font-weight: normal;
	font-size:12px;
	background: #f6f6f6;
	color: #000;
	border-bottom: 1px solid #ccc;
	float: none;
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
	color: #666;
	text-shadow:none;
	}
ul.dropdown ul li a:hover{
	text-shadow:none;
}
/* 
	LEVEL THREE
*/
ul.dropdown ul ul {
	left: 100%;
	top: 0;
}
ul.dropdown li:hover > ul {
	visibility: visible;
}

